html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  border-radius: 16.7px;
  width: 651.3px;
  margin: 16px;
  padding: 33px;
}
.person__foto {
  width: 154.48px;
  height: 154.48px;
  margin-right:33px;
 border-radius: 50%;
}
.person{
  display: flex;
  align-items: flex-start;
}
.person__name{
  font-size: 37.58px;
  margin: 0;
  font-weight: normal;
}
.person__position{
  font-size: 18.79px;
  color: #545454;
  margin: 0;
  font-style: italic;
}
.person__description{
  font-size: 16.7px;
  color: #000000;
  line-height: 23px;
  margin: 0;
}
.person__description--with-margin{
 margin-bottom: 23px; 
}
.person__info{
margin-bottom: 25px;
}
.special{
  color:rgb(13, 9, 230);
  font-weight: normal;
}
.person__link{
  color: rgb(163, 10, 20);
  text-decoration:none;
}